<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="ikvm:zookeeper.jmx.log4j.disable" value="true" />
		<add key="ikvm:zookeeper.log.dir" value="." />
		<add key="ikvm:zookeeper.root.logger" value="DEBUG,CONSOLE" />
		<add key="ikvm:log4j.configuration" value="file:log4j.properties" />
	</appSettings>
    <startup>
		<supportedRuntime sku=".NETFramework,Version=v4.0" version="v4.0" />
	</startup>
</configuration>

